<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--<link href="../static/css/app.css" th:href="@{/css/styles.css}" rel="stylesheet" />-->
<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

<h1>Add Item</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${artifact.name}" />
        <span th:errors="${artifact.name}" class="error"></span>
    </div>

    <form method="post" style="max-width:200px;">
        <div class="form-group">
        <label th:for="id">ID</label>
            <input class="form-control" th:field="${artifact.id}" />
            <span th:errors="${artifact.id}" class="error"></span>
    </div>

    <form method="post" style="max-width:600px;">
        <div class="form-group">
        <label th:for="locations">Location</label>
        <input class="form-control" th:field="${artifact.location}" />
        <span th:errors="${artifact.location}" class="error"></span>
    </div>

    <form method="post" style="max-width:600px;">
        <div class="form-group">
        <label th:for="descriptions">Description</label>
        <input class="form-control" th:field="${artifact.description}" />
        <span th:errors="${artifact.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Item" />
</form>

<!--<button type="back" name="action" value="back">back</button>-->
<!--<button type="delete" name="action" value="delete">delete</button>-->
<!--<button type="search" name="action" value="search">search</button>-->

<!--<button type="database" name="action" value="database">Database</button>-->
<!--<button type="images" name="action" value="images">Images-->

<!--<button type="home" name="action" value="home">home</button>-->

</body>
</html>