<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <a th:href="|@{/delete_artifact/${artifact.artifactId}}|" class="btn btn-danger">Delete</a>

    <th:block th:each="artifact : ${artifacts}">
        <div class="form-group">
            <label>
                <span th:text="${artifact.name}"></span>
                <input type="checkbox" name="artifactIds" th:value="${artifact.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete Artifact" class="btn btn-danger">
</form>

</body>
</html>