<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>Edit Item</h1>

    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="${artifact.name}" />
            <span th:errors="${artifact.name}" class="error"></span>
        </div>

        <form method="post" style="max-width:200px;">
            <div class="form-group">
                <label th:for="id">ID</label>
                <input class="form-control" th:field="${artifact.id}" />
                <span th:errors="${artifact.id}" class="error"></span>
            </div>

            <form method="post" style="max-width:600px;">
                <div class="form-group">
                    <label th:for="locations">Location</label>
                    <input class="form-control" th:field="${artifact.location}" />
                    <span th:errors="${artifact.location}" class="error"></span>
                </div>

                <form method="post" style="max-width:600px;">
                    <div class="form-group">
                        <label th:for="descriptions">Description</label>
                        <input class="form-control" th:field="${artifact.description}" />
                        <span th:errors="${artifact.description}" class="error"></span>
                    </div>
<!--                    <input type="edit" value="Edit Item" />-->
                    <input type="submit" value="Edit Item" />
                </form>

<!--<div class="form-group" style="max-width:600px;">-->
<!--    <body th:action="@{/artifacts/edit}">-->
<!--    <label>Name</label>-->
<!--        <input type="edit" name="name" class="form-control">-->
<!--        <input type="hidden" th:value="${artifact.name}" name="artifactName" />-->

<!--</div>-->
<!--    <div class="form-group" style="max-width:600px;">-->
<!--    <label>-->
<!--        Id-->
<!--        <input type="edit" name="edit"  class="form-control">-->
<!--        <input type="hidden" th:value="${artifact.id}" name="artifactId" />-->
<!--    </label>-->
<!--    <input type="edit" value="Edit Item" />-->
</div>
<!--<a href = "edit.html"> 1</a>-->
<!--<a href = "edit.html?id=2"> 2</a>-->
<!--<a href = "edit.html?id=3"> 3</a>-->
</body>
</html>