<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container body-content">-->

<!--<h2>Otto Museum Database Images</h2>-->

<!--<div th:replace="fragments :: page-header"></div>-->

<!--<div class="container body-content">-->
<!--    <ul>-->
<!--    <img src="<c:url value="/resources/images/cannon.jpeg" />" alt="image" />-->
<!--    <img src="<c:url value="/resources/images/IMG_E6216.JPG" />" alt="image" />-->
<!--    <img src="<c:url value="/resources/images/blueegg.jpeg" />" alt="image" />-->
<!--    <img src="<c:url value="/resources/images/bowl.jpeg" />" alt="image" />-->
<!--    <img src="<c:url value="/resources/images/mingvase.jpeg" />" alt="image" />-->
<!--    <img src="<c:url value="/resources/images/cranes.jpeg" />" alt="image" />-->
<!--    <img src="<c:url value="/resources/images/piggybank.jpeg" />" alt="image" />-->
<!--    <img>-->
<!--    </ul>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->