<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<!--<div th:replace="fragments :: page-header"></div>-->

<!--<div class="container body-content">-->

<!--<h1>Otto Museum Database Images</h1>-->

<!--    <img>-->
<!--    Cannon-->
<!--    <img id = "cannon" src="/images/cannon.jpg" th:src = @{/images/cannon.jpeg}" style="width:500px;height:600px;/>-->
<!--    </img>-->
<!--    <img>-->
<!--    Snow Globe-->
<!--    <img src="<c:url value="/resources/images/IMG_E6216.JPG" />" alt="image" />-->
<!--    </img>-->
<!--    <img>-->
<!--    <img src="<c:url value="/resources/images/blueegg.jpeg" />" alt="image" />-->
<!--    </img>-->
<!--    <img>-->
<!--    <img src="<c:url value="/resources/images/bowl.jpeg" />" alt="image" />-->
<!--    </img>-->
<!--    <img>-->
<!--    <img src="<c:url value="/resources/images/mingvase.jpeg" />" alt="image" />-->
<!--    </img>-->
<!--    <img>-->
<!--    <img src="<c:url value="/resources/images/cranes.jpeg" />" alt="image" />-->
<!--    </img>-->
<!--    <img>-->
<!--    <img src="<c:url value="/resources/images/piggybank.jpeg" />" alt="image" />-->
<!--    </img>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->