<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<!--//<link href="../static/css/app.css" th:href="@{/css/styles.css}" rel="stylesheet" />-->
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Otto Genealogical Museum Database</h2>
    <ul>
        <li th:each="artifact : ${artifacts}">

            <a th:href="@{'/view/' + ${artifact.name}}" th:text="${artifact.name}"></a>
            <a th:href="@{'/view/' + ${artifact.id}}" th:text="${artifact.id}"></a>
            <a th:href="@{'/view/' + ${artifact.location}}" th:text="${artifact.location}"></a>
            <a th:href="@{'/view/' + ${artifact.description}}" th:text="${artifact.description}"></a>
            <a th:href="'/delete/'+${artifact.getId()}">Delete</a>
        </li>
    </ul>
</div>

</body>
</html>