<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<!--<link href="../static/css/app.css" th:href="@{/css/styles.css}" rel="stylesheet" />-->
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">

    <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search">
    </form>

    <hr />

    <table class="artifact-listing">
        <tr th:each="search : ${searches}">

            <td th:text="${search.getName()}">Name: </td>
            <td th:text="${search.getId()}">ID: </td>
            <td th:text="${search.getLocation()}">Location: </td>
            <td th:text="${search.getDescription()}">Description: </td>
        </tr>
    </table>
</div>
<button type="back" name="action" value="back">back</button>
<button type="add" name="action" value="add">add</button>
<button type="delete" name="action" value="delete">delete</button>
<button type="database" name="action" value="database">Database</button>
<button type="images" name="action" value="images">Images</button>
<button type="home" name="action" value="home">home</button>
</body>
</html>